/**
 * @author Saurabh Mishra <sam21mishra@gmail.com>
 * @since 1.0.1
 */

.errorMessage{
    color : #ff0707;
    font-size : 10px;
}
span.required {
    color : #ff0707;
}
.form-title.small{
    font-size: 12px;
    font-weight: normal
}
.title-link-btn{
    margin-top: 20px;
    margin-bottom: 10px;
}